@import url('https://fonts.googleapis.com/css?family=Asap:400,400i,700,700i|Cambay:400,400i,700,700i|Cantarell:400,400i,700,700i');
*{box-sizing:border-box;}
html{font-family:'Asap', sans-serif;font-size:16px;}
body{margin:0;}

.fib-main{margin:0 auto;max-width:89rem;}

/* Background Colors */
[class*="bgc-dark-"]    {color:ghostwhite;}
.bgc-black              {background-color:#111111;}
.bgc-dark-primary       {background-color:#11234B;}
.bgc-dark-secondary     {background-color:#345575;}
[class*="bgc-light-"]   {color:#111111;}
.bgc-light-primary      {background-color:#E4E1C3;}
.bgc-light-secondary    {background-color:#EB9E2B;}
.bgc-accent             {background-color:#C94D2D;}

/* Font Colors */
.fcw{color:ghostwhite;}

/* Basic text styles */
[class*="text-"]{line-height:1.62;}
.text-copy{font-size:1rem;}
.text-subhead{font-size:2rem;}
.text-head{font-size:3rem;}

/* Basic title styles */
[class*="title-"]{line-height:1.62;}
.title-section{font-size:5rem;}
.title-page{font-size:8rem;}

/* Structural Styles */
.layout-base{display:flex;flex:0 0 100%;flex-wrap:wrap;}
.layout-node{flex:auto;}
.layout-node.node-width-auto{flex:1 1 0px;}
.layout-node.node-width-full{flex:0 0 100%;}
.layout-node.node-width-half{flex:0 0 50%;}
.layout-node.node-width-primary{flex:0 0 61.8%;}
.layout-node.node-width-secondary{flex:0 0 38.2%;}
.layout-node.node-width-tertiery{flex:0 0 23.6%;}

.layout-node.margin-small{background-clip:padding-box;border:0.5rem solid transparent;}
.layout-node.margin-normal{background-clip:padding-box;border:1rem solid transparent;}
.layout-node.margin-large{background-clip:padding-box;border:1.5rem solid transparent;}
.layout-node.margin-xlarge{background-clip:padding-box;border:2.5rem solid transparent;}

.padding-small{padding:0 0.5rem 0.25rem 0.5rem;}
.padding-normal{padding:0 1rem 0.5rem 1rem;}
.padding-large{padding:0.5rem 1.5rem 1rem 1.5rem;}
.padding-xlarge{padding:1rem 2.5rem 1.5rem 2.5rem;}

/* Button Styles */
.button{border-radius:0.382rem;color:ghostwhite;cursor:pointer;display:inline-block;font-weight:bold;letter-spacing:0.236rem;margin:.5rem .81rem;padding:1rem 1.62rem;}
.button-positive{background-color:rgba(47, 146, 82, 1);}
.button-positive:hover{background-color:rgba(47, 146, 82, 0.5);}
.button-negative{background-color:rgba(187, 62, 55, 1);}
.button-negative:hover{background-color:rgba(187, 62, 55, 0.5)}
.button-neutral{background-color:rgba(70, 112, 115, 1);}
.button-neutral:hover{background-color:rgba(70, 112, 115, 0.5);}

/* Text Attributes */
.txt-outline-black{text-shadow:-1px 1px 0 black, 1px 1px 0 black, 1px -1px 0 black, -1px -1px 0 black;}
.txt-outline-black-soft{text-shadow:1px 1px 2px black;}
.button.txt-outline-black-soft:hover{text-shadow:0px 0px 0px black;}

/* Form Styles */
form.form{display:flex;flex-direction:column;}
form .form-field{align-items:center;display:flex;margin:.62rem 0 2rem 0;flex-wrap:wrap;}
.form-field-label{flex:0 0 23.6%; font-size:1.62rem;}
.form-field-input{flex:1 1 0;line-height:1rem;min-width:0;padding:0.62rem 1rem;}

/* Text input */
input.form-field-input{font-size:1.62rem;}

/* Textarea */
textarea.form-field-input{font-family:'Asap', sans-serif;font-size:1rem;height:6rem;}

/* Checkbox */
input.form-field-checkbox{height:2.62rem;opacity:1;cursor:pointer;margin:0;width:2.62rem;}
input.form-field-checkbox::before{background-color:ghostwhite;border:2px solid #C94D2D;border-radius:2px;content:"";display:block;height:inherit;width:inherit;}
input.form-field-checkbox:checked::before{background-color:#C94D2D;color:ghostwhite;content:"×";font-size:2.62rem;font-weight:bold;line-height:2.62rem;text-align:center;}

/* Select */
select.form-field-input{font-family:'Asap', sans-serif;font-size:1.62rem;}
select.form-field-input option{text-align:right;}

/* Radio */
.form-field-radio-container{font-size:1.62rem;display:flex;flex:1 1 0;justify-content:space-between;}
input.form-field-radio{height:2.62rem;margin:0 0.62rem 0 0;vertical-align:middle;width:2.62rem;}
input.form-field-radio::before{background-color:ghostwhite;border-radius:100%;content:"";height:inherit;display:block;width:inherit;}
input.form-field-radio:checked::before{background-color:#C94D2D;}
input.form-field-radio::after{background-color:ghostwhite;border-radius:100%;content:"";display:block;height:62%;width:62%;}